<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="app.js"></script>
		<title>Article Scraper</title>
		<style>
      #wrapper {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
      }
      #articles {
        display: inline-block;
        overflow: auto;
        width: 60%;
        height: 700px;
      }
      #notes {
        float: right;
        width: 30%;
      }
      textarea, input {
        display: block;
        width: 100%;
        background-color: #FCF5C7;
      }
      input {
        height: 36px;
        font-size: 24px;
      }
      textarea {
        height: 200px;
        font-size: 18px;
      }
    </style>
	</head>
	<body background="http://3.bp.blogspot.com/-iGsftkLjqVs/VGyGWCg1ZsI/AAAAAAAABy0/T5jiigmSH3U/s1600/Top%2B30%2BHigh%2BQuality%2BFree%2BPhotoshop%2BPatterns%2BAnd%2BTextures%2BBackground%2BPatterns%2B(1).jpg">	
		{{{ body }}}
	</body>

</html>
